In [1]:
MyLink="https://docs.google.com/spreadsheets/d/e/2PACX-1vSvBPBvS26Hw4-1-vwQ0Vsg61xVsqlGi8Gz6uMCBPEhhzmQqMXBlBTd6aTNGg1uJsUVaB_X4X_u2i1-/pub?gid=1237552387&single=true&output=csv"

In [2]:
import pandas as pd

IEF=pd.read_csv(MyLink)

In [3]:
IEF.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [4]:
IEF.tail()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
181,179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,...,Venezuela,31.4,$380.7,-14.0,-7.8,"$12,114",7.7,1087.5,-68.0,34.9
182,180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,...,Vietnam,93.6,$647.4,6.8,6.2,"$6,913",2.1,3.5,"14,100.0",58.2
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
184,182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,...,Zambia,17.2,$68.9,3.6,4.0,"$3,996",7.8,6.6,"1,091.2",62.2
185,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,...,Zimbabwe,14.9,$34.0,3.0,2.6,"$2,283",5.0,1.3,289.4,78.4

In [5]:
IEF.iloc[:,[1,6,25,29]]

    Country Name  2019 Score Population (Millions) GDP per Capita (PPP)
0    Afghanistan        51.5                  35.5               $1,958
1        Albania        66.5                   2.9              $12,507
2        Algeria        46.2                  41.5              $15,237
3         Angola        50.6                  28.2               $6,753
4      Argentina        52.2                  44.1              $20,876
..           ...         ...                   ...                  ...
181    Venezuela        25.9                  31.4              $12,114
182      Vietnam        55.3                  93.6               $6,913
183        Yemen         NaN                  30.0               $1,287
184       Zambia        53.6                  17.2               $3,996
185     Zimbabwe        40.4                  14.9               $2,283

[186 rows x 4 columns]

In [6]:
IEF=IEF.iloc[:,[1,6,25,29]]

In [7]:
IEF.columns.str.replace("\s+|\(\w+\)","")

Index(['CountryName', '2019Score', 'Population', 'GDPperCapita'], dtype='object')

In [8]:
IEF.columns=IEF.columns.str.replace("\s+|\(\w+\)","")

In [9]:
IEF

     CountryName  2019Score Population GDPperCapita
0    Afghanistan       51.5       35.5       $1,958
1        Albania       66.5        2.9      $12,507
2        Algeria       46.2       41.5      $15,237
3         Angola       50.6       28.2       $6,753
4      Argentina       52.2       44.1      $20,876
..           ...        ...        ...          ...
181    Venezuela       25.9       31.4      $12,114
182      Vietnam       55.3       93.6       $6,913
183        Yemen        NaN       30.0       $1,287
184       Zambia       53.6       17.2       $3,996
185     Zimbabwe       40.4       14.9       $2,283

[186 rows x 4 columns]

In [10]:
# first look (notice the blank space before Mt)

IEF.Population.str.split(pat=' ppl.')

0      [35.5]
1       [2.9]
2      [41.5]
3      [28.2]
4      [44.1]
        ...
181    [31.4]
182    [93.6]
183    [30.0]
184    [17.2]
185    [14.9]
Name: Population, Length: 186, dtype: object

In [11]:
# improving first look: "expand" separates into columns

IEF.Population.str.split(' ppl.',expand=True)

        0     1
0    35.5  None
1     2.9  None
2    41.5  None
3    28.2  None
4    44.1  None
..    ...   ...
181  31.4  None
182  93.6  None
183  30.0  None
184  17.2  None
185  14.9  None

[186 rows x 2 columns]

In [12]:
IEF.Population.str.split(' ppl.',expand=True)[0]

0      35.5
1       2.9
2      41.5
3      28.2
4      44.1
       ...
181    31.4
182    93.6
183    30.0
184    17.2
185    14.9
Name: 0, Length: 186, dtype: object

In [13]:
# Notice that the previous steps **HAVE NOT** done any changes. I have only displayed the results. 
# Now I will replace the column:

result1=IEF.Population.str.split(' ppl.',expand=True)[0]

In [14]:
# assign can create or overwrite a column. Then, I use 'result1' here
IEF=IEF.assign(Population=result1)

In [15]:
IEF.GDPperCapita=IEF.GDPperCapita.str.replace("$","")

In [16]:
IEF.GDPperCapita=IEF.GDPperCapita.str.replace(",","")

In [17]:
IEF.Population=IEF.Population.str.replace(",","")

In [18]:
IEF.GDPperCapita=IEF.GDPperCapita.str.replace("(2015 est.)","")

In [19]:
IEF.GDPperCapita=IEF.GDPperCapita.str.replace("(2009 est.)","")

In [20]:
IEF.GDPperCapita=IEF.GDPperCapita.str.replace("\s(\D+)","")

In [21]:
badIEFSymbols=[] # list for bad symbols

NumericColNames=IEF.iloc[:,1:].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in IEF[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badIEFSymbols:# if cell is not in the list                
                badIEFSymbols.append(cell)# add it to the list

# you get:
badIEFSymbols

[]

In [22]:
IEF.dtypes

CountryName      object
2019Score       float64
Population       object
GDPperCapita     object
dtype: object

In [23]:
IEF["Population"]=IEF["Population"].astype(float)

In [24]:
IEF["GDPperCapita"]=IEF["GDPperCapita"].astype(float)

In [25]:
IEF.columns.str.replace("CountryName","Country")

Index(['Country', '2019Score', 'Population', 'GDPperCapita'], dtype='object')

In [26]:
IEF.dtypes

CountryName      object
2019Score       float64
Population      float64
GDPperCapita    float64
dtype: object

In [27]:
IEF.columns=IEF.columns.str.replace("CountryName","Country")

In [28]:
IEF

         Country  2019Score  Population  GDPperCapita
0    Afghanistan       51.5        35.5        1958.0
1        Albania       66.5         2.9       12507.0
2        Algeria       46.2        41.5       15237.0
3         Angola       50.6        28.2        6753.0
4      Argentina       52.2        44.1       20876.0
..           ...        ...         ...           ...
181    Venezuela       25.9        31.4       12114.0
182      Vietnam       55.3        93.6        6913.0
183        Yemen        NaN        30.0        1287.0
184       Zambia       53.6        17.2        3996.0
185     Zimbabwe       40.4        14.9        2283.0

[186 rows x 4 columns]

In [29]:
replacements1={'Vietnam':'Viet Nam',
               'Venezuela':'Venezuela (Bolivarian Republic of)',
               'United States':'United States of America',
               'United Kingdom':'United Kingdom of Great Britain and Northern Ireland',
               'Tanzania':'United Republic of Tanzania',
               'Syria':'Syrian Arab Republic',
                'SÃ£o TomÃ© and PrÃ­ncipe': 'Sao Tome and Principe',
                'Russia':'Russian Federation',
               'Moldova':'Republic of Moldova',
               'Micronesia':'Micronesia (Federated States of)',
                'Burma':'Myanmar',
               'Eswatini':'Swaziland',
               'Macedonia':'The former Yugoslav Republic of Macedonia',
                'Laos':'Lao Peoples Democratic Republic',
               'Kyrgyz Republic':'Kyrgyzstan',
               'Korea, North ':'Democratic Peoples Republic of Korea',
               'Korea, South':'Republic of Korea',
               'Iran':'Iran (Islamic Republic of)',
               'Czech Republic':'Czechia',
               "CÃ´te d'Ivoire":'CÃ´te dIvoire',
               'Congo, Republic of':'Congo',
               'Congo, Democratic Republic of the Congo':'Democratic Republic of the Congo',
               'Bolivia':'Bolivia (Plurinational State of)'
}
 
 
 # replacing
IEF.Country.replace(replacements1,inplace=True)

In [30]:
IEF.to_pickle("IEF_Clean.pkl")

# you will need: DF=pd.read_pickle("IEF_Clean.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../IEF_Clean.pkl"),compression=None)

In [31]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(IEF,file="IEF_Clean.RDS")

#In R, you call it with: DF = readRDS("IEF_Clean.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../IEF_Clean.RDS")

rpy2.rinterface.NULL